.App {
	text-align: center;
}

.brawlers {
	position:absolute;
	top: 2%;
	left: 45%;
}

.sort{
	position: absolute;
	top: 5%;
	left: 60%;
}

.tableStyle {
	position: absolute;
	top: 10%;
	left: 20%;
	border: 2px solid black;
	width: 500px;
	margin: auto;
}

.headerStyle {
	font-size: 25px;
	border: 2px solid black;
	background: antiquewhite;
	text-align: center;
	color: black;
};

.h1{
	position:absolute;
	top: 1%;
	left: 50%;
	font-weight: bolder;
	font-size:large;
}

.bodyStyle {
	border: 2px solid black;
}
