.App {
	text-align: center;
	background-image: url(https://i.redd.it/rmmz9vnwvd031.jpg) ;
	background-repeat: no-repeat;
	width: 100vw;
	height: 106vh;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container{
	display: flex;
	flex-wrap: wrap;
	width: 800px;
	height: 600px;
	justify-content: space-between;
}

.brawlers {
	position:absolute;
	top: 2%;
	left: 45%;
}

.tableStyle {
	position: absolute;
	top: 10%;
	left: 20%;
	border: 2px solid black;
	width: 500px;
	margin: auto;
}

.headerStyle {
	font-size: 25px;
	border: 2px solid black;
	background: antiquewhite;
	text-align: center;
	color: black;
};

.bodyStyle {
	border: 2px solid black;
}

.square {
	position: relative;
	border: 2px solid black;
	background-color: white;
	top: 100px;
	height: 150px;
	width: 200px;
}

.rank{
	position: absolute;
	top: 19%;
	left: 48%;
	font-size: large;
	font-weight: bolder;
	color: white;
}

.rankImg{
	position: absolute;
	top: -17%;
	left: -50%;
}

.trophies{
	position: absolute;
	top: -14%;
	left: 49%;
	font-size: large;
	font-weight: bolder;
	color: goldenrod;
}

.trophy{
	position: absolute;
	top: -14%;
	left: 35%;
}

.trophyBar{
	position: absolute;
	top: -15%;
	left: 9%;
	height: 12%;
	width: 80%;
	border: 2px solid;
}

.trophyImg{
	position: absolute;
	top: -18%;
	left: 10%;
}

.bar{
	position: absolute;
	height:100%;
	left: 0%;
	background-color: red;
}

.bgImg{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100px;
}

.name{
	position: absolute;
	top: 88%;
	left: 2%;
	font-size: large;
	font-weight: bolder;
	color: black;
}

.power{
	position: absolute;
	top: 88%;
	left: 63%;
	font-size: large;
	height: 5%;
	width: 5%;
	font-weight: bolder;
	color: black;
}

.powerValue{
	position: absolute;
	top: 88%;
	left: 91%;
	font-size: large;
	font-weight: bolder;
	height: 13%;
	width: 10%;
	background-color: black;
	color: white;
}

.upgradeImg{
	position: absolute;
	top: 83%;
	left: 50%;
}

.coinsSquare{
	position: absolute;
	top: 100%;
	left: -1%;
	height: 30%;
	width: 100%;
	border: 2px solid black;
	background-color: green;
	display: flex;
	justify-content: space-around;
}

.brawlCoinCount{
	position: absolute;
	top: 35%;
	font-size: large;
	font-weight: bolder;
	color: white;
}

.powerCoinCount{
	position: absolute;
	top: 35%;
	font-size: large;
	font-weight: bolder;
	color: white;
}

.plus{
	position: absolute;
	top: 20%;
	font-size: 25px;
	color: white;
	left: 52%;
}

.upgradeTop{
	padding-top: 5px;
}

.upgradeBottom{
	padding-top: 0px;
}
